body{
  width:100%;
}

.App{
  display:flex;
}
.App > *{
  width:50%;

}
form{
  width:90%;
  margin:auto;
  display:flex;
  flex-direction: column;
  
}
form input{
  height:30px;
  border-radius:5px;
  border:1px solid black;
}
.display{
  background-color:#eee;
 
}

.general-info{
  display:flex;
  justify-content:space-between;
  background-color:black;
  color:white;
  padding-left:10px;
  padding-right:10px;
}